.admin-login {
  width: 100%;
  height: 100vh;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;

  .admin-login-box {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;

    h2 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    input {
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 15px;
    }

    button {
      width: 100%;
      padding: 12px;
      background: #a11f1f;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #7d1717;
      }
    }
  }
}
